<h1>Privacy policy of QQFS</h1>

<h3>QQFS respects respondent rights</h3>
<ul>
<li>1 We promise to protect your privacy and treat the information you give us as confidential.</li>
<li>2 The information you provide will be used only for research purposes.</li>
<li>3 We will not release your personal information to any third party without your consent.</li>
<li>4 We will never try to sell you anything and we will never sell your personal data to anyone. That is not our business. We are not telemarketers or direct marketers. We are market researchers interested only in your opinions and behaviour.</li>
<li>5 Your decisions about participating in a study, responding to specific questions, or discontinuing participation will be respected without question.</li>
</ul>

Your privacy is important to us
Market, survey and opinion research serves an important function in society. Businesses and governments make better decisions through survey research. As a survey participant, your opinions help companies develop new products, make existing ones better, and improve customer service. Political organisations and governments also rely on survey research to advance laws and policies that the public wants or needs.
When you participate in research conducted by our firm, you can be assured that we will protect your privacy. Occasionally, we may re-contact you to validate your responses. We will never misrepresent ourselves or what we are doing.
We have developed rigorous privacy standards that are set out in our detailed privacy policy. QQFS is member of ESOMAR, the world organisation for enabling better research into markets, consumers and societies.
ESOMAR sets professional standards to which our firm adheres, and which also protect your privacy.
If you have any privacy questions or concerns, please contact our Privacy Officer via e-mail at (privacy@qqfs.com) by telephone at (0046 313559000) or by mail (QQFS AB, Att: Privacy Officer, J A Wettergrens Gata 5, 421 30 Västra Frölunda, Sweden).
<h2>Privacy Policy</h2>

<h3>1. The information that we collect</h3> 
When QQFS conducts research, our invitations and questionnaires clearly identify us and explain the purpose(s) of our contact.
 
When we contact you, we generally do so for one of the following purposes:</br>
<ul>
<li>1. To invite you to participate in survey research;</li>
<li>2. To conduct a survey research interview with you;</li>
<li>3. To validate answers you gave in a recent survey we conducted;</li>
<li>4. To update and to ensure that our records of your personal information are correct.</li>
</ul>
Occasionally, we may contact you for one of these other purposes:
<ul>
  <li>1. To notify you about the incentive;</li>
  <li>2. To ask for your permission to use your personal information for a purpose that was not explained to you when we first collected your personal information.</li>
  <li>3. To update and to ensure that our records of your personal information are correct.</li>
</ul>
When you participate in our research, we may ask you for your personal opinions, as well as demographic information, such as your age and household composition. You may refuse to answer certain questions or discontinue participation in a study at any time. If you join our internet research panel, you may rescind your membership at any time by telephone on +46 31 355 90 00 or by sending an email to info@qqfs.com.
We never knowingly invite children under the age of 18 to participate in research studies without taking measures to ensure appropriate parental consent.

<h3>2. Confidentiality of survey responses and contact information</h3>
<p>
We combine your survey responses in a given survey with the responses of all others who participate and report those combined responses to the client that commissioned the study. We will never intentionally report your individual survey responses, except as described below.
Your survey responses may be collected, stored or processed by our affiliated companies or non-affiliated service providers, both within and outside Sweden. They are contractually bound to keep any information they collect and disclose to us or we collect and disclose to them confidential and must protect it with security standards and practices that are equivalent to our own.
In addition to keeping your survey responses confidential, we will never sell, share, rent or otherwise intentionally transfer your name, address, telephone number or e-mail address to our clients, other market research companies, direct marketing companies or anyone else.
 </p>
The only exceptions when we may disclose your personal information or survey responses to third parties are as follows
<ul> 
<li>1. You request or consent to sharing your identifying information and individual responses with the third parties for a specified purpose;</li>
<li>2. In accordance with the ESOMAR guidelines, we provide your responses to a third party who is contractually bound to keep the information disclosed confidential and use it only for research or statistical purposes;</li>
<li>3. In the rare but possible circumstance that the information is subject to disclosure pursuant to judicial or other government subpoenas, warrants, orders or for similar legal or regulatory requirements.</li>
</ul>

<h3>3. Use of cookies, log files and other technologies</h3>
 
<p>Cookies are small text files stored on your computer by a website that assigns a numerical user ID and stores certain information about your online browsing. Our clients, affiliated companies and we use cookies on the survey sites to help us provide you a better experience and to provide quality control and validation functions. No personal information is stored on any cookie that we use.</p>
 
<p>Device Identification technologies assign a unique identifier to a user's computer to identify and track the computer. Our clients, affiliated companies nor QQFS use Device identification (also known as machine id or digital fingerprinting) technology to collect personal information or track the online activities of computer users. We use the technology to assist our clients in ensuring the integrity of survey results. The technology analyses information and data obtained from your computer's web browser and from other publically available data points, including for example the technical settings of your computer, the characteristics of your computer, and your computer's IP address. This data is used to create a unique identifier assigned to your computer. The unique identifier is an alpha-numeric id which we retain. We do not retain the information analysed by the technology to create the unique identifier. The technology does not disrupt or interfere with your use or control of your computer and it does not alter, modify or change the settings or functionality of your computer.</p>

In furtherance of our efforts to assist clients in protecting and ensuring the integrity of survey results, we:
 <ul>
<li>a. may link or associate your unique identifier to you and any of the information you provide to us;</li>
<li>b. may share your unique identifier with our clients and with other sample or panel providers; and</li>
<li>c. may receive or obtain a unique identifier linked to you from a third party, including without limitation a sample or panel provider or a client of QQFS.</li>
</ul>

<p>
Any unique identifier(s) linked to a specific individual will be protected in accordance with this privacy policy. We shall use and distribute the technology in a professional and ethical manner and in accordance with our privacy policy, any statements and/or disclosures made by our firm to you, and applicable laws and industry codes. 
In the event that we discover or learn of any unethical conduct in connection with the use of the technology, or that the technology is being used in a manner that is inconsistent with the statements and/or disclosures made by us to respondents or in violation of applicable laws and codes, we will take immediate action to prohibit such unethical conduct and to ensure the proper administration of the technology.
 </p>

<h3>4. Security of personal information</h3>
<p>
We inform our employees about our policies and procedures regarding confidentiality, security and privacy, and we emphasise the importance of complying with them. Our security procedures are consistent with generally accepted commercial standards used to protect personal information.
We may transfer personal information to affiliated companies or non-affiliated service providers for research-related purposes, such as data processing, and fulfilment of incentives. We require these companies to safeguard all personal information in a way that is consistent with our firm’s measures and as regulated by law. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it.,
 </p>


<h3>5. Accuracy of personal information</h3>
 <p>
QQFS makes reasonable efforts to keep personal information in its possession or control, which is used on an ongoing basis, accurate, complete, current and relevant, based on the most recent information available to us. We rely on you to help us keep your personal information accurate, complete and current by answering our questions honestly.
 </p>


<h3>6. Access to personal information</h3>
To request access to personal information that we hold about you, we require that you submit your request in writing at the e-mail address or postal address shown below. You may be able to access your personal information and correct, amend or delete it where it is inaccurate, except as follows:
<ul>  
<li>1. Providing access to your personal information would be likely to reveal personal information about others;</li>
<li>2. Disclosing the information would reveal the confidential commercial information of QQFS or its clients.</li>
<li>3. The burden or expense of providing access would be disproportionate to the risks to your privacy in the case in question.</li>
</ul>


<p>
We will endeavour to provide your requested personal information within 30 days of receiving your access request. If we cannot fulfil your request, we will provide you with a written explanation of why we had to deny your access request.
 </p>

 
<h3>7. Notification of material changes to this policy</h3> 
<p>
If we make a material change to this policy or our privacy practices, we will post a prominent notice on this site for 30 calendar days prior to the implementation of the material change and describe how individuals may exercise any applicable choice. 
Following the implementation of the material change, we will record at the introduction of this policy when the policy was last revised.
</p>

<h3>8. How to contact us</h3>

<p>
Questions regarding this policy, complaints about our practices and access requests should be directed to the QQFS Privacy Officer via e-mail at privacy@qqfs.com or by mail at
</p> 
 <p>
QQFS AB
Att: Privacy Officer
J A Wettergrens gata 5
421 30 Västra Frölunda
Sweden
</p>
<p>
We will investigate all complaints and attempt to resolve those that we find are justified. If necessary, we will amend our policies and procedures to ensure that other individuals do not experience the same problem.
</p>